.target {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.toolbar {
  margin-bottom: 66px;
}

a {
  padding: 6px;
  margin-right: 6px;
  background: #ddd;
  margin-bottom: 100px;
  transition-duration: 60ms;
}

a.active {
  background: lightblue;
}
