<h1>Angular Animations</h1>

<ul [ngSwitch]="activeExample">
  <li
    *ngFor="let option of options"
    [ngClass]="{ active: option.example === activeExample }"
    (click)="activeExample = option.example"
  >
    {{ option.title }}
  </li>
</ul>

<ng-container [ngSwitch]="activeExample">
  <app-simple-enter-leave
    *ngSwitchCase="Example.SimpleEnterLeave"
  ></app-simple-enter-leave>
  <app-custom-state *ngSwitchCase="Example.CustomState"></app-custom-state>
  <app-staggered-list
    *ngSwitchCase="Example.StaggeredList"
  ></app-staggered-list>
</ng-container>
